.row {
  display: flex;
  justify-content: space-between;
}

.amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.statusText {
  color: #00cccc;
}

.scrollbar {
  overflow: auto;
  height: auto;
  max-height: calc(100vh - 60vh);
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
