{
  "semi": true,
  "singleQuote": true,
  "experimentalTernaries": false,
  "useTabs": false,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": false
}
