.centerGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.feedGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow: auto;
  height: auto;
  max-height: calc(100vh - 25vh);
}

.orderNumberText {
  color: #00cccc;
}
