.row {
    display: flex;
    gap: 60px;
}

.col {
    width: 50%;
}

.feedGrid {
    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow: auto;
    height: auto;
    max-height: calc(100vh - 20vh);
}
