.card {
  background-color: #1c1c21;

  border-radius: 40px;
  padding: 24px;

  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
}

.amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.statusSuccessText {
  color: #00cccc;
}

.statusErrorText {
  color: #fa0000;
}
