.feedGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow: auto;
  height: auto;
  max-height: calc(100vh - 25vh);
}

.link {
  text-decoration: none;
  color: white;
  min-width: 40%;
}
